.iconSwitchEnter .icon {
    opacity: 0;
    transform: scale(0.4);
}

.iconSwitchEnterActive .icon {
    opacity: 1;
    transform: scale(1);
}

.iconSwitchExit .icon {
    opacity: 1;
    transform: scale(1);
}

.iconSwitchExitActive .icon {
    opacity: 0;
    transform: scale(0.4);
}

.iconSwitchEnterActive .icon,
.iconSwitchExitActive .icon {
    transition: opacity 150ms, transform 150ms;
}
